body{
    background-color: white;
    color: black;
    font-family: "Arial",sans-serif;
}
.container{
    display: grid;
    grid-template-areas:
            'headerCentrale headerCentrale'
            'obiettivi obiettivi'
            'form form'
            'grafici grafici'
            'footer footer';
}
.container div{
    margin: 2ex 1em;
    padding: 2ex 1em;
    min-width: 30ex;
}
.theHeaderCentrale{
    grid-area: headerCentrale;
    padding: 0 1em;
    border: black solid medium;
    margin: 1ex 1em;
    font-family: "Times New Roman", serif;
    background-color: red;
    text-align: center;
    color: black;
}
.Obiettivi{
    grid-area: obiettivi;
    text-align: justify;
    border: black solid;
}
.Form{
    grid-area: form;
    text-align: center;
    border: black solid;
}
.Grafici{
    grid-area: grafici;
    display: none;
}
.Grafici h3{
    text-align: center;
    padding-bottom: 2ex;
}
.Grafici .comments{
    border: solid black;
    padding: 1ex 1em;
}
.Footer{
    grid-area: footer;
    background-color: red;
    font-size: small;
    color: black;
    text-align: center;
    border: black solid;
}
#table{
    margin: 0 auto;
}
#table, #table tr, #table td{
    border-collapse:collapse;
    text-align: center;
    border-bottom:black 1pt solid;
    padding: 1ex 0.5em;
    color: black;
}
#table thead, #table thead td{
    background-color: red;
    font-weight: bold;
    border: black 2pt solid;
}

#table tbody tr:nth-child(even){
    background-color: white;
}
#table tbody tr:nth-child(odd){
    background-color: papayawhip;
}

a:link{
    color: navy;
}
a:visited{
    color: navy;
}
